parameters:
  paths:
    - /source/src/paroxity
  level: 8
  bootstrapFiles:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  scanDirectories:
    - /source/src/CortexPE/Commando/
    - /source/src/muqsit/simplepackethandler/
  ignoreErrors:
    - '#Access to an undefined property pocketmine\\network\\mcpe\\protocol\\LoginPacket::\$authInfoJson#'
    - '#Negated boolean expression is always false#'